.main-page {
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color:springgreen;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: url(assets/images/Logo.jpg);
  background-repeat: repeat-x;
  background-size: 50% 100%;
}

.tab, .recp-view {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.recp-view label {
  background-color: inherit;
  border: none;
  outline: none;
  padding: 1rem;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem;

}

.tab button:hover {
  background-color: #ddd;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(assets/images/Logo.jpg);
  background-repeat: repeat;
  background-size: 50% 50%;
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayButtons {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayButton {
  border: 2px solid black;
  background-color: white;
  width: 33%;
  height: 100%;
  margin: 10px;
}

.displayButton span {
  color: white;
}

.displayButton:hover {
  cursor: pointer;
}

.displayButton:hover span {
  color: black;
}